<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>COLLEGE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.admin.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FLogin</display-name>
    <servlet-name>FLogin</servlet-name>
    <servlet-class>com.faculty.FLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FLogin</servlet-name>
    <url-pattern>/FLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SLogin</display-name>
    <servlet-name>SLogin</servlet-name>
    <servlet-class>com.student.SLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLogin</servlet-name>
    <url-pattern>/SLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceLogin</display-name>
    <servlet-name>AttendanceLogin</servlet-name>
    <servlet-class>com.attendance.AttendanceLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceLogin</servlet-name>
    <url-pattern>/AttendanceLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>com.admin.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSemester</display-name>
    <servlet-name>UpdateSemester</servlet-name>
    <servlet-class>com.admin.UpdateSemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSemester</servlet-name>
    <url-pattern>/UpdateSemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFaculty</display-name>
    <servlet-name>RegisterFaculty</servlet-name>
    <servlet-class>com.admin.RegisterFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFaculty</servlet-name>
    <url-pattern>/RegisterFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFaculty</display-name>
    <servlet-name>UpdateFaculty</servlet-name>
    <servlet-class>com.admin.UpdateFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFaculty</servlet-name>
    <url-pattern>/UpdateFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNoticeToAll</display-name>
    <servlet-name>SendNoticeToAll</servlet-name>
    <servlet-class>com.admin.SendNoticeToAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNoticeToAll</servlet-name>
    <url-pattern>/SendNoticeToAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNoticeToStudent</display-name>
    <servlet-name>SendNoticeToStudent</servlet-name>
    <servlet-class>com.admin.SendNoticeToStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNoticeToStudent</servlet-name>
    <url-pattern>/SendNoticeToStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNoticeToFaculty</display-name>
    <servlet-name>SendNoticeToFaculty</servlet-name>
    <servlet-class>com.admin.SendNoticeToFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNoticeToFaculty</servlet-name>
    <url-pattern>/SendNoticeToFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudents</display-name>
    <servlet-name>GetStudents</servlet-name>
    <servlet-class>com.attendance.GetStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudents</servlet-name>
    <url-pattern>/GetStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendAttendance</display-name>
    <servlet-name>SendAttendance</servlet-name>
    <servlet-class>com.attendance.SendAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendAttendance</servlet-name>
    <url-pattern>/SendAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendAttendanceFaculty</display-name>
    <servlet-name>SendAttendanceFaculty</servlet-name>
    <servlet-class>com.attendance.SendAttendanceFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendAttendanceFaculty</servlet-name>
    <url-pattern>/SendAttendanceFaculty</url-pattern>
  </servlet-mapping>
</web-app>